* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  overflow-x: hidden;
}

/* nav section */
#nav nav {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
#nav .navbar-brand::after {
  content: '';
  height: 7px;
  width: 7px;
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
  display: inline-block;
  margin-left: 10px;
}
#nav .navbar ul li a {
  color: #fff;
}
#nav .navbar ul li a:hover {
  color: rgba(29, 224, 153);
	transition: .4s;
}
#nav .get-start a {
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
  transition: transform .5s;
}
#nav .get-start a:hover {
  background: transparent;
  border: 1px solid #fff;
  transform: scale(1.1);
  color: rgba(29, 224, 153);
}

/* header backgroung-img section */
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
              url(img/bg-hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
#header .header-text {
  position: absolute;
  top: 40%;
  pointer-events:none;
}
#header .header-text p {
  font-size: 30px;
}
#header .header-text h1 {
  font-size: 60px;
}
#header .header-text h3 {
  font-size: 40px;
}
#header .header-text span {
  color: rgba(29, 224, 153);
}
#header .header-btn a {
  color: #1de099;
  border: 1px solid #1de099;
}
#header .header-img {
  position: absolute;
  top: 22%;
}

 @media only screen and (max-width: 600px) {
  #header {
    height: 155vh;
  }
  #header .header-text {
    top: 100%;
  }
  #header .header-text h1 {
    font-size: 40px;
  }
  #header .header-text h3 {
    font-size: 30px;
  }
  #header .header-img {
    top: 16%;
  }
 }


/* about section */
#about {
  background-color: rgb(3, 10, 23, 0.9);
}
#about .about-head h1 {
  pointer-events:none;
}
#about .about-head hr {
  width: 100px;
  height: 3px;
  border-radius: 3px;
  margin: 0 auto;
  background: linear-gradient(45deg, rgba(29, 224, 153), rgba(29, 200, 205));
}
#about .about-text p {
  text-align: justify;
}